@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.customTable {
  display: flex;
  width: 100%;
  .contentInfo {
    padding: 20px 20px 0px 20px;
    font-size: 28px;
    height: 420px;
    width: 100%;
    box-shadow: 0px 15px 22px 0px rgba(205, 205, 205, 0.61);
    border-radius: 20px;
    background-size: 100% 100%;
    background-position: 100% 100%;
    .textContent {
      // line-height: 30px;
      width: 100%;
      // font-size: 22px;
      font-family: SourceHanSerifCN-SemiBold, SourceHanSerifCN;
      font-weight: 500;
      color: #FFFFFF;
      text-shadow: 0px 0px 5px #000;
      // display: -webkit-box;
      // word-break: break-all;
      // -webkit-box-orient: vertical;
      // -webkit-line-clamp: 4;
      // overflow: hidden;
      // text-overflow:ellipsis;
      .quotationMarkRight {
        text-align: right;
      }
    }
    .btnInfo {
      margin-bottom: 10px;
      width: 100%;
      display: flex;
      height: 46px;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      .titleNameType {
        text-align: center;
        line-height: 46px;
        width: 120px;
        height: 46px;
        background: #FFFFFF;
        border-radius: 0px 27px 27px 27px;
        font-size: 20px;
        font-family: PingFangSC-Medium, PingFang SC;
        color: #000000;
      }
      .btnInfo_l {
        display: flex;
        align-items: center;
      }
      .refresh {
        margin-right: 5px;
        width: 20px;
        height: 20px;
        background-size: 20px 20px;
        background-image: url('../../../../assets/刷新.png');
      }
      .route {
        animation: spin 1s infinite linear;
      }
      .btnInfo_r {
        display: flex;
        align-items: center;
        span{
          font-size: 18px;
          color: #fff;
        }
      }
    }
  }
}
