@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.customTable {
  display: flex;
  width: 100%;
  .contentInfo {
    padding: 30px 0px 0px 30px;
    font-size: 14px;
    height: 420px;
    width: 100%;
    box-shadow: 0px 15px 22px 0px rgba(205, 205, 205, 0.61);
    border-radius: 10px;
    background-size: 100% 100%;
    background-position: center center;
    .textContent {
      width: 100%;
      height: 29vw;
      display: -webkit-box;
      word-break: break-all;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      overflow: hidden;
      text-overflow:ellipsis;
    }
    .btnInfo {
      width: 100%;
      display: flex;
      height: 60px;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      .titleNameType {
        text-align: center;
        line-height: 60px;
        width: 170px;
        height: 60px;
        background: #FFFFFF;
        border-radius: 0px 27px 27px 27px;
        font-size: 12px;
        font-family: PingFangSC-Medium, PingFang SC;
        // font-weight: 500;
        color: #000000;
      }
      .btnInfo_l {
        display: flex;
        align-items: center;
      }
      .refresh {
        margin-right: 15px;
        width: 30px;
        height: 30px;
        background-size: 30px 30px;
        background-image: url('../../../../assets/刷新.png');
      }
      .route {
        animation: spin 1s infinite linear;
      }
      .btnInfo_r {
        float: right;
        display: flex;
        align-items: center;
      }
    }
  }
}
